.vscode
bin
obj
ChatsterApi/.vscode
ChatsterApi/bin
ChatsterApi/obj
ChatsterApi/ChatsterApi.DB
ChatsterApi/ChatsterApi.DB-shm
ChatsterApi/ChatsterApi.DB-wal
ChatsterApi/appsettings.development.json
ChatsterApi/wwwroot/
